.top {
    padding: 3.3rem;
    border: .5rem;
    border-style:solid solid none solid;
    border-color: rgb(52, 62, 90);
}

.name, .proj, .about, .skills-h, .work{
    color:rgb(33, 110, 66)
}

hr {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
strong {
    text-decoration: underline;
    color: rgb(206, 196, 196);
}

body {
    background-color:rgb(31, 28, 64);
    margin: 0;
    color:rgb(164, 160, 154);
    padding: 3.3rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
}

.icons {
    float: right;
    margin-bottom: 0rem;
}

.fa-github, .fa-linkedin-square {
    color:rgb(33, 110, 66)
}

.fa-github:hover, .fa-linkedin-square:hover {
    transform: scale(1.2);
}

a {
    color: black;
}

.skills {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: transparent;
    color: rgb(164, 160, 154);
    border: none;
    text-align: center;
    padding: 0.5rem;
    width: 100px;
}

.button:hover {
    cursor: pointer;
    background-color:rgb(35, 67, 69);
}

.avi, .it {
    display: none;
}

.job1, .job2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

li {
    padding: 0.3rem;
}